fastapi == 0.70.0
uvicorn == 0.15.0
aiofiles == 0.6.0
python-multipart == 0.0.5
jinja2 == 3.0.2
black == 21.9b0
typing == 3.7.4.3
pydantic == 1.8.2

pymongo == 3.12.1
dnspython == 2.1.0

passlib==1.7.4
bcrypt==3.2.0
python-jose==3.3.0

requests==2.26.0
